@font-face {
    font-family: "Minecraft";
    font-style: normal;
    src: url("../fonts/minecraftia.eot?") format("eot"),
	     url("../fonts/minecraftia.woff") format("woff"),
		 url("../fonts/minecraftia.ttf") format("truetype"),
		 url("../fonts/minecraftia.svg#Minecraftia") format("svg");
}

html, body, .page, main {
    height: 100%;
}
body {
	color: #FFFFFF;
	font-family: sans-serif;
}

.hide { display: none; }

.flexslider, .video {
	background-color: #fff;
    border: 1px solid;
    margin: 0 auto 3em;
    width: 100%;
	max-width: 961px;
    display: block;
	min-height: inherit;
}
.video {
	height: 14em;
}
@media ( min-width: 23em) {
	.video {
		height: 20em;
	}
}
@media ( min-width: 43em) {
	.flexslider, .video {
		width: 43em;
	}
	.video { height: 27em; }
}
.flex-control-nav {
    bottom: 0;
}

.button, a.button {
	-webkit-border-image: url(../img/buttonhover.min.png) 6 6 6 6 repeat stretch;
	     -o-border-image: url(../img/buttonhover.min.png) 6 6 6 6 repeat stretch;
			border-image: url(../img/buttonhover.min.png) 6 6 6 6 fill repeat stretch;
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    display: block;
    width: 10em;
	color: #291803;
	font-weight: bold;
	text-decoration: none;
	text-shadow: white 1px 1px;
	margin: 1em auto;
	background-size: 0 0;
	background: transparent;
}

/* menu */

.nav {
    background: #000000;
    font-size: 0.9em;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav .list-inline {
    margin: auto;
    width: -webkit-fit-content;
	width: -moz-fit-content;
    width: fit-content;
}
.nav .list-inline li {
    border-right: 2px solid #FFFFFF;
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    padding: 0 0.6em;
	margin: 0;
}
.nav .list-inline li a.inert {
    color: #888;
    cursor: default;
}
.nav .list-inline li:last-child { border: 0; }
.nav .list-inline li a {
    text-decoration: none;
}
.nav .list-inline li.current a:hover, #nav .list-inline li.current a:focus {
    font-weight: bold;
}

a.camo { display:none; }

@media ( min-width: 830px) {
    a.camo { display:inline; }
    a.camo img {
    	position: fixed;
    	top: 0;
    	left: 0;
    	border: 0;
    	z-index:2000;
    }
}


/* section */

section {
    min-height: 100%;
    padding: 3em 0 3em;
	background-image: url("../img/wool_colored_light_blue.min.png");
	background-attachment: fixed;
	background-position: 0px top;
	box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.67) inset;
}
h2 {
	-webkit-border-image: url(../img/woodback.min.png) 24 46 32 32 fill repeat stretch;
	     -o-border-image: url(../img/woodback.min.png) 24 46 32 32 fill repeat stretch;
	        border-image: url(../img/woodback.min.png) 24 46 32 32 fill repeat stretch;
    border-style: solid;
    border-width: 24px 46px 32px 32px;
    text-align: center;
    width: -webkit-fit-content;
	width: -moz-fit-content;
    width: fit-content;
    display: block;
    height: 92px;
    margin: 2em auto;
}
h2 span {
    color: rgba(255, 241, 217, 0.59);
    font-family: Minecraft;
    font-size: 2em;
    line-height: 0.6em;
    text-shadow: 0 0 0.2em #1B0F01, 0 0 0.2em #1C1002, 0 0 0.2em #1B0F02;
	text-transform: uppercase;
}

.fixe {
    text-align: left;
    margin: 2em auto 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.64);
	padding: 4%;
	font-size: 83%;
}
@media ( min-width: 43em) {
	.fixe {
		text-align: center;
		width: 43em;
		padding: 3em 3em 2em;
		font-size: 1em;
	}
}

/* section Home */

#Home {
    background-image: url("../panorama/panorama2/480_4.min.jpg");
    background-position: center center;
    background-size: cover;
	min-height: inherit;
}
@media ( min-height: 481px) {
	#Home {
		background-image: url("../panorama/panorama2/768_4.min.jpg");
        background-position: center center;
        background-size: cover;
	}
}
@media ( min-height: 769px) {
	#Home {
		background-image: url("../panorama/panorama2/976_4.min.jpg");
        background-position: center center;
        background-size: cover;
	}
}

#Home h2 {
	background-image: url("../img/logo.min.png");
    width: 290px;
    background-size: 290px;
    background-repeat: no-repeat;
    height: 52px;
    margin: 1em auto;
	-webkit-border-image: 0;
	     -o-border-image: 0;
	        border-image: 0;
    border-width: 0;
}
@media ( min-width: 531px) {
	#Home h2 {
		width: 512px;
		height: 92px;
		background-size: auto;
	}
}

/* section image */

#Image { background-image: url("../img/wool_colored_gray.min.png"); }

/* section video */

#Video { background-image: url("../img/wool_colored_green.min.png"); }

/* section faq */

#FAQ { background-image: url("../img/wool_colored_cyan.min.png"); }
#FAQ .fixe { text-align: left; }

/* section signature */

#Signature { background-image: url("../img/wool_colored_red.min.png"); }
#Signature h2 span {
    display: block;
    font-size: 0.8em;
    line-height: 1em;
    margin-top: -0.2em;
}
@media ( min-width: 531px) {
	#Signature h2 span {
		font-size: 1.2em;
		margin-top: -0.5em;
	}
}
#Signature dd {
    text-align: left;
    background: rgba(0, 0, 0, 0.49);
    border: 1px solid rgba(255, 255, 255, 0.57);
    padding: 0.3em 1em;
    margin: 2em 0;
}

