---
layout: default
title: Packs
---

<h2>Pack</h2>

<div class="post-content">
  {% for pack in site.data.packs %}
    <div class="pack-version">
      <div class="packs">
        <ul>
          <li>
            <h3>Vanilla</h3>
            <div class="pack-base">
              <img class="pack-image" alt="" src="{{ pack.base[0].img }}">
              <h4 class="pack-title">{{ pack.name }} {{ pack.version }} ({{ pack.base[0].percent }}%)</h4>
              <a class="pack-content" href="{{ pack.base[0].url }}" title="Download {{ pack.base[0].name }}"><span>↓</span></a>
            </div>
          </li>
          
          {% if pack.perso != null %}
            <li>
              <h3>Custom</h3>
              {% for custom in pack.perso %}
                <div class="pack-custom">
                  <img class="pack-image" alt="" src="{{ custom.img }}">
                  <h4 class="pack-title">{{ custom.name }} {{ pack.version }} ({{ custom.percent }}%)</h4>
                  <a class="pack-content" href="{{ custom.url }}" title="Download {{ custom.name }}"><span>↓</span></a>
                </div>
              {% endfor %}
            </li>
          {% endif %}

          {% if pack.mod != null %}
            <li>
              <h3>Mod support</h3>
              {% for support in pack.mod %}
                <div class="pack-custom">
                  <img class="pack-image" alt="" src="{{ support.img }}">
                  <h4 class="pack-title">{{ support.name }} {{ pack.version }} ({{ support.percent }}%)</h4>
                  <a class="pack-content" href="{{ support.url }}" title="Download {{ support.name }}"><span>↓</span></a>
                </div>
              {% endfor %}
            </li>
          {% endif %}
          
        </ul>
      </div> 
    </div> 
  
  {% endfor %}
</div>
