---
layout: default
title: Packs
---

<h2>Pack</h2>

<div class="post-content">
<script charset="utf-8" type="text/javascript">
  document.getElementsByClassName("post-content")[0].style.display = "none";
</script>
  
  {% for pack in site.data.packs %}
    <div class="pack-version p_{{ pack.name }}_{{ pack.version }}">
      <div class="pack-column">
        <h3>Vanilla</h3>
        <div class="pack-base">
          <a class="pack-content" href="{{ pack.base[0].url }}" title="Download {{ pack.base[0].name }}">
            <img class="pack-image" alt="" src="{{ pack.base[0].img }}">
          </a>
          <h4 class="pack-title">{{ pack.name }} {{ pack.version }} ({{ pack.base[0].percent }}%)</h4>
        </div>

        {% if pack.perso != null %}
          <h3>Custom</h3>
          {% for custom in pack.perso %}
            <div class="pack-custom">
              <a class="pack-content" href="{{ custom.url }}" title="Download {{ custom.name }}">
                <img class="pack-image" alt="" src="{{ custom.img }}">
              </a>
              <h4 class="pack-title">{{ custom.name }} {{ pack.version }} ({{ custom.percent }}%)</h4>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="pack-column">
        {% if pack.mod != null %}
          <h3>Mod support</h3>
          {% for mod in pack.mod %}
            <div class="pack-mod">
              <a class="pack-content" href="{{ mod.url }}" title="Download {{ mod.name }}">
                <img class="pack-image" alt="" src="{{ mod.img }}">
              </a>
              <h4 class="pack-title">{{ mod.name }} {{ pack.version }} ({{ mod.percent }}%)</h4>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div> 
  {% endfor %}

<script charset="utf-8" type="text/javascript">
  for (let i of document.getElementsByClassName("pack-version"))
    i.style.display = "none";
  document.getElementsByClassName('p_'+location.hash.split('#')[1])[0].style.display = "flex";
  document.getElementsByClassName("post-content")[0].style.display = "block";
</script>
</div>
