<div id="sidebar">
  <ul>
    <li class="menu-item-1"><a href="{{ site.url }}">Home</a></li>
    <li class="menu-item-2"><a href="{{ site.url }}games.html">Downloads</a></li>
    <li class="menu-item-3"><a href="{{ site.url }}Images.html">Images</a></li>
    <li class="menu-item-4"><a href="{{ site.url }}Videos.html">Videos</a></li>
    <li class="menu-item-5"><a href="{{ site.url }}FAQ">FAQ</a></li>
    <li class="menu-item-6"><a href="{{ site.url }}Signature">Signature</a></li>
    <li class="menu-item-7"><a href="{{ site.url }}Contribute">Community</a></li>
    <li class="menu-item-8"><a href="https://twitter.com/SummerFieldsMC" target="_blank">Twitter</a></li>
    <li class="menu-item-9"><a href="https://github.com/SummerFields/SummerFields/issues/new" target="_blank">Comment</a></li>
  </ul>
</div>
