<div id="sidebar">
  <ul>
    <li class="menu-item-1"><a href=".">Home</a></li>
    <li class="menu-item-2"><a href="Downloads">Downloads</a></li>
    <li class="menu-item-3"><a href="Images">Images</a></li>
    <li class="menu-item-4"><a href="Video">Videos</a></li>
    <li class="menu-item-5"><a href="FAQ">FAQ</a></li>
    <li class="menu-item-6"><a href="Signature">Signature</a></li>
    <li class="menu-item-7"><a href="https://github.com/SummerFields" target="_blank">GitHub</a></li>
    <li class="menu-item-8"><a href="https://twitter.com/SummerFieldsMC" target="_blank">Twitter</a></li>
    <li class="menu-item-9"><a href="https://github.com/SummerFields/SummerFields/issues/new" target="_blank">Comment</a></li>
  </ul>
</div>
