---
---

@import "{{ site.theme }}";

.main-content :first-child {
    margin-top: auto;
}

body {
    color: #FFFFFF;
    font-family: sans-serif;
    background: url("../img/wool_colored_gray.min.png") fixed;
}

.page-header {
    background-image: url("../panorama/panorama2/480_1.min.jpg ");
    background-attachment: fixed;
    min-height: 19rem;
    background-position: center center;
    background-size: cover;
    padding-top: 1px;
    box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.67);
}

h1.project-name {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: .75em;
    display: block;
    height: 92px;
    width: 570px;
    background: transparent url("../img/summerfields.png") no-repeat scroll 0% 0%;
    margin: 4rem auto;
}

h1.project-name span {
    display: none;
}

.site-footer {
    background: url("../img/wool_colored_black.min.png");
    box-shadow: 0 -0.5em 0.5em rgba(0, 0, 0, 0.67);
    text-align: right;
    font-family: "Minecraft";
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem;
}

.project-tagline {
    display: block;
    text-align: center;
    margin: 2em auto 0px;
    background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%;
    padding: 2rem;
    font-size: 83%;
    width: 37.2rem;
    opacity: 1;
}

a.camo img {
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2000;
}

#sidebar {
    background: #000000;
    font-size: 0.9em;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#sidebar ul {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#sidebar ul li {
    border-right: 2px solid #FFFFFF;
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    padding: 0 0.6em;
    margin: 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
}

.button, a.button {
    border-image: url("../img/buttonhover.min.png") 6 6 6 6 fill repeat stretch;
    border-style: solid;
    border-width: 6px;
    display: block;
    width: 10em;
    color: #291803;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #FFF;
    margin: 1em auto;
    background: transparent none repeat scroll 0% 0%;
}

.main-content .post h2 {
    border-image: url("../img/woodback.min.png") 24 46 32 32 fill repeat stretch;
    border-style: solid;
    border-width: 24px 46px 32px 32px;
    text-align: center;
    width: -moz-fit-content;
    display: block;
    height: 92px;
    color: rgba(255, 241, 217, 0.59);
    font-family: Minecraft;
    font-size: 3em;
    line-height: 0.9em;
    text-shadow: 0px 0px 0.2em #1B0F01, 0px 0px 0.2em #1C1002, 0px 0px 0.2em #1B0F02;
    text-transform: uppercase;
    margin: 1em auto 1em;
}

.post .post-content {
    text-align: left;
    margin: 2em auto 0px;
    max-width: 60rem;
    background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%;
    padding: 4%;
    font-size: 83%;
}

#footer {
    background: url("../img/wool_colored_black.min.png");
    box-shadow: 0 -0.5em 0.5em rgba(0, 0, 0, 0.67);
    text-align: right;
    font-family: "Minecraft";
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem;
    border: 0;
}
