---
---

@import "{{ site.theme }}";

.main-content :first-child {
    margin-top: auto;
}

body {
    color: #FFFFFF;
    font-family: sans-serif;
    background: url("../img/wool_colored_gray.min.png") fixed;
}

body.idGames { background-image: url("../img/wool_colored_brown.min.png"); }
body.idImages { background-image: url("../img/wool_colored_silver.min.png"); }
body.idVideo { background-image: url("../img/wool_colored_green.min.png"); }
body.idFAQ { background-image: url("../img/wool_colored_light_blue.min.png"); }
body.idSignature { background-image: url("../img/wool_colored_red.min.png"); }

.page-header {
    background-image: url("../panorama/panorama2/480_1.min.jpg ");
    background-attachment: fixed;
    min-height: 19rem;
    background-position: center center;
    background-size: cover;
    padding: 1px 0 0;
    box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.67);
}

h1.project-name {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: .75em;
    display: block;
    height: 92px;
    width: 570px;
    background: transparent url("../img/summerfields.png") no-repeat scroll 0% 0%;
    margin: 4rem auto;
}

h1.project-name span {
    display: none;
}

.project-tagline {
    display: none;
}

.idHome .project-tagline {
    display: block;
    text-align: center;
    margin: 2em auto;
    background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%;
    padding: 2rem;
    font-size: 83%;
    width: 37.2rem;
    opacity: 1;
}

.idHome .page-header {
    min-height: 34rem;
}

a.camo img {
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2000;
}

#sidebar {
    background: #000000;
    font-size: 0.9em;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#sidebar ul {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#sidebar ul li {
    border-right: 2px solid #FFFFFF;
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    padding: 0 0.6em;
    margin: 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
}

.button, a.button {
    border-image: url("../img/buttonhover.min.png") 6 6 6 6 fill repeat stretch;
    border-style: solid;
    border-width: 6px;
    display: inline-block;
    width: 14em;
    color: #291803;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #FFF;
    margin: 1em auto;
    background: transparent none repeat scroll 0% 0%;
}

.main-content h2 {
    border-image: url("../img/woodback.min.png") 24 46 32 32 fill repeat stretch;
    border-style: solid;
    border-width: 24px 46px 32px 32px;
    text-align: center;
    width: -moz-fit-content;
    display: block;
    height: 92px;
    color: rgba(255, 241, 217, 0.59);
    font-family: Minecraft;
    font-size: 3em;
    line-height: 0.9em;
    text-shadow: 0px 0px 0.2em #1B0F01, 0px 0px 0.2em #1C1002, 0px 0px 0.2em #1B0F02;
    text-transform: uppercase;
    margin: 1em auto 1em;
}

ul.feedEkList {
    padding: 0;
}

ul.feedEkList li {
    text-align: left;
    margin: 2em auto 0px;
    max-width: 60rem;
    background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%;
    padding: 4%;
    font-size: 83%;
    list-style: none;
}

/* download */

.idGames .post-content,
.idMinetest .post-content,
.idMinecraft .post-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.idGames figure,
.idMinetest figure,
.idMinecraft figure {
    border: 1px solid #fff;
    margin: auto;
    box-shadow: 0 0 1em #fff;
    padding: 6px;
    display: flex;
    margin: 0 1em 1em;
}

.idGames .main-content img,
.idMinetest .main-content img,
.idMinecraft .main-content img {
    width: 256px;
    height: 256px;
}

.idGames figcaption,
.idMinetest figcaption,
.idMinecraft figcaption {
    display: none;
}

.idMinetest .packs,
.idMinecraft .packs {
    position: absolute;
    background: black;
    display: none;
    width: 100%;
    margin-bottom: 3em;
}

.main-content span {
    margin: 1em 1em 3em;
    display: block;
    text-align: center;
    background: aliceblue;
    color: black;
}

.idPacks h3 {
    font-family: Minecraft;
    font-size: 2rem;
    color: white;
}
.idPacks .pack-base,
.idPacks .pack-custom,
.idPacks .pack-mod {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0% 0%;
    padding: 1rem;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.idPacks .pack-image {
    width: 64px;
    height: 64px;
}
.idPacks h4 {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin: 0 0 0 1em;
}
.idPacks .pack-version {
    display: flex;
    justify-content: space-around;
}
.idPacks .pack-column {
    margin-top: unset;
}
.idPacks .pack-content {
    flex-shrink: 0;
    line-height: 0em;
    position: relative;
    width: 64px;
    height: 64px;
    background: #333;
    border-radius: 7px;
}
.idPacks .pack-content::after {
    content: "↓";
    position: absolute;
    font-size: 4em;
    font-family: Minecraft;
    right: -0.5em;
    top: 0.9em;
    color: black;
    text-shadow: 0 0 7px #fff;
}
.idPacks .pack-content:hover::after {
    right: 0.12em;
    top: 0.7em;
    transition: 1s all;
}

/* Signature */

.idSignature dd {
    text-align: left;
    background: rgba(0, 0, 0, 0.49) none repeat scroll 0% 0%;
    border: 1px solid rgba(255, 255, 255, 0.57);
    padding: 0.3em 1em;
    margin: 2em 0px;
}

.main-content code {
    padding: 0;
    background: transparent;
    color: white;
    font-size: 0.7em;
    border-radius: 0;
}

.idFAQ .post-content {
    background: #0009;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px #000000;
}

/* Images */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; min-height:150px; background:url(images/loader.gif) no-repeat center center;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
    position: relative;
    zoom: 1;
    margin-bottom: 3em;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.flexslider .flex-caption{ margin:10px 7px;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; opacity: 0.8; right: 5px;}
.flex-direction-nav .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* Videos */

.video {
    height: 27rem;
    width: 48rem;
    box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.67);
}

/* Footer */

.site-footer {
    background: url("../img/wool_colored_black.min.png");
    box-shadow: 0 -0.5em 0.5em rgba(0, 0, 0, 0.67);
    text-align: right;
    font-family: "Minecraft";
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2rem;
    border: 0;
}
